---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
SortIncludes: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
DerivePointerAlignment: false
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
BreakBeforeBraces: Attach
---
